
/* reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* Variable */

:root {
    /* fonts */
    --ff: "Nunito", sans-serif;
    --ff-Headings:"Fugaz one", cursive;
    --fs: clamp(1rem, 2.2vh, 1.5rem);

    /* colors */
    --bgcolor-fade: rgb(252, 220, 160);
    --bgcolor: orange;
    --bgimage: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor-fade));
    --body-bgcolor: #fff;
    --border:#333;
    --font-color:#000;
    --header-bgcolor:#000;
    --header-color: #fff;
    --hero-bgcolor: rgba(51, 178, 51, 0.75);
    --hero-color: #fff;
    --hilight-color: rgb(51, 178,51);
    --link-active: orange;
    --link-color:#000;
    --link-hover: hsla(0, 0%, 0%, 0.6);
    --nav-bgcolor: #fff;
    --button-color:#fff;

    /* borders */
    --borders: 1px solid var(--border);
    --border-raius: 15px;
    /* standardpadding */
    --padding-tb: 0.25em;
    --padding-side: 2.5%;

    /* standard margin */
    --margin: clamp(1em, 2.5vh, 1.5em) 0;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor-fade: gray;
        --bgcolor: #000;
        --body-bgcolor:#333;
        --border-color:whitesmoke;
        --font-color: whitesmoke;
        --header-color: whitesmoke;
        --hero-color:#333;
        --hilight-color: whitesmoke;
        --link-active: rgb(252. 200, 103);
        --link-color: whitesmoke;
        --link-hover: orange;
        --nav-bgcolor: rgb(20, 20, 20);
        --button-color:#333;
    }
}

/* utility classes */
.offscreen{
    position: absolute;
    left: -10000px;
}
.nowrap{
    white-space: nowrap;
}
.center{
    text-align: center;
}
/* general styles */

html{
    scroll-behavior: smooth;
    font-size: var(--fs) ;
    font-family: var(--ff);
    background-color: var(--bgcolor);
    background-image: var(--bgimage);
}


body{
    background-color: var(--body-bgcolor);
    color: var(--font-color);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--borders);
    border-right: var(--borders);
    box-shadow: 0 0 10px var(--border);
}

h1, h2, h3 {
    font-family: var(--ff-Headings);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--hilight-color);
}
p{
    line-height: 1.5;
}

a {
    color: var(--link-color);
}

a:hover,
 a:focus {
    color: var(--link-hover);
}

a:active{
    color: var(--link-active);
}
/* Header */

.header{
    position:  sticky;
    top: 0;
    z-index: 1;

}
.header__h1{
    text-align: center;
    background-color: var(--header-bgcolor);
    color: var(--header-color);
    padding: var(--padding-tb) var(--padding-side);
   
}

.header__nav {
    background-color:  var(--nav-bgcolor);
    border-bottom: var(--borders);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--border);
}
.header__ul{
    padding: var(--padding-tb) var(--padding-side);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

}
/* hero */

.hero{
    position: relative;
}

.hero__h2{
    background-color: var(--hero-bgcolor);
    color: var(--hero-color);
    padding: 0.25em 0.5em;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px var(--border);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showwelcom 0.5s ease-in-out 1s forwards;
}

@keyframes showwelcom {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* footer */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--header-bgcolor);
    color: var(--header-color);
    padding: var(--padding-tb) var(--padding-side);
    text-align: center;
}
/* main */
.grid {
    display: grid;
}
.grid1x3 {
    grid-template-columns: repeat(3, 1fr);
}
.yourprice {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--hilight-color);
}
.Price {
    font-size: 1.3rem;
    font-weight: 800;

    color: var(--hilight-color);
}
.reset{
    background-color: var(--hilight-color);
    color: whitesmoke;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.reset:hover {
    background-color: rgb(44, 141, 44);
}
@media screen and (max-width:600px) {
    .grid {
        display: grid;
    }
    .grid1x3 {
        grid-template-columns: repeat(3, 0.5fr);
    }
    .reset{
        padding: 0.35rem 0.75rem;
    }
}

.main {
    padding: var(--padding-tb) var(--padding-side);
    
}

.main__artical {
    scroll-margin-top: 6.5rem;
    margin: var(--margin);
    
}

.main__artical:first-child {
    margin-top: 1em;
}

.main__artical:last-child {
    min-height: calc(100vh - 20rem);
}
/* About */
.About__Trivia {
    margin: var(--margin);
}

.about__answer {
    margin-top: 1em;
}
/* contact */
.contact__h2 {
    margin: 0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    padding: 0.5rem;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--hilight-color);
    color: var(--button-color);
    font-weight: bold;
}
/* menu */
thead, tbody, tfoot, tr {
    display: contents;
}
.menu__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "ch ch  ch"; 
    gap: 0.1rem;
    margin-bottom: 1rem;

}
.menu__cr {
    grid-area: cr;
}
.menu__sf {
    grid-area: sf;
}
.menu__ch {
    grid-area: ch;
}
.menu__cr, .menu__sf, .menu__ch, .menu__header {
    color: var(--hilight-color);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__header, .menu__item {
    width: 100%;
    padding: 1em;
    border: medium ridge var(--border);
} 
.menu__item {
    display: grid;
    place-content: center;
    
}
.hover:hover {
    background-color: var(--hilight-color);
    color: whitesmoke;
    transition: background-color 0.15s ;
}

thead th:first-child {
    border-top-left-radius: var(--border-raius);
}
thead th:last-child {
    border-top-right-radius: var(--border-raius);
}
tfoot td {
    border-bottom-left-radius: var(--border-raius);
}
tfoot td {
    border-bottom-right-radius: var(--border-raius);
}

@media screen and (min-width:567px) {

    .header__h1::before {
        content: ' 🌮 ';
    }
    .header__h1::after {
        content: ' 🌮 ';
    }
    .menu__header, 
    .menu__ch,
    .menu__sf,
    .menu__cr {
        font-size: 125%;
    }
}